<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
  <h2>店名で検索</h2>
    <form method="get" action="/jirous/shoplist">
    <p>
    店名：<input type="text" name="food" />(例：ラーメン二郎)<br />
    </p>
    <p>
    都道府県：<select name="pref">
    <option value="&#38;pref=PREF13">東京都</option>
    <option value="&#38;pref=PREF14">神奈川県</option>
    <option value="&#38;pref=PREF27">大阪府</option>
    <option value="&#38;pref=PREF23">愛知県</option>
    <option value="&#38;pref=PREF11">埼玉県</option>
    </select>
    <br />
    <input type="submit" value="送信" />
    </p>
    </form>
  </div>
</div>