<form method="get" action="/jirous/wordlist">
<p>
 ワード：<input type="text" name="food" /><br />
 </p>
 <p>
 都道府県：<select name="pref">
<option value="&#38;pref=PREF13">東京都</option>
<option value="&#38;pref=PREF14">神奈川県</option>
<option value="&#38;pref=PREF27">大阪府</option>
<option value="&#38;pref=PREF23">愛知県</option>
<option value="&#38;pref=PREF11">埼玉県</option>
</select>
<br />
 <input type="submit" value="送信" />
 </p>

</form>
