<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.username %></h1>
<span><%= link_to "プロフィールを見る", current_user %></span>
<span><%= current_user.microposts.count %>のつぶやき</span>