<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "shop",   "/jirous/post" %></li>
      <li><%= link_to "word",   "/jirous/search" %></li>
    </ul>
  </nav>
</footer>