<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "jirou",   "/home/post" %></li>
      <li><%= link_to "word",   "/home/search" %></li>
    </ul>
  </nav>
</footer>