<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "ホームに戻る",   root_path %></li>
      <li><%= link_to "店名で検索",   "/jirous/post" %></li>
      <li><%= link_to "キーワード検索",   "/jirous/search" %></li>
    </ul>
  </nav>
</footer>