<!DOCTYPE html>
<html>
    <head>
        <title>DeviseRails5</title>
      

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </body>
</html>